html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
title { color: #ff4411; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px; }
.copyright {
    float: left;
}

.social {
    float: right;
}

.uploadBox {
 position: absolute;
 background: lightblue;
 width: 300px;
 height: 200px;
}
.imageUploadInput {
 display: none;
}

body{
    font-family: 'Lato', 'Helvetica',Sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    color:black;
    background-color:white;
    background-image:url(back.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    clear:both;
    padding-bottom: 3em;
}

.footer {
  bottom: 0;
  position: absolute;
}
/*.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  float: right;
}*/

section {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

section#home #title {
    margin-top: 2em;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.form-control label {
    width: 15em;
    display: inline-block;
}

form .fieldvalue {
    padding-bottom: 2em;
}
.list li {
  background: url("https://bradfrost.github.com/this-is-responsive/patterns/images/icon_arrow_right.png") no-repeat 97% 50%;
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}
.li-head {
  margin: 0;
}
.li-sub {
  margin: 0;
}

@media all and (min-width: 45em) {
  .list li {
    float: left;
    width: 50%;
  }
}

@media all and (min-width: 75em) {
  .list li {
    width: 33.33333%;
  }
}
