<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700'
                               rel='stylesheet' type='text/css'>
                               <!-- jQuery library -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/5.0.10/css/font-awesome.min.css">
        <title>{% block title %}ESTIAM Data Science Challenge 2018{% endblock %}</title>
        {% endblock %}
    </head>

    <body>

            <div id="container">

                {% include 'header.html' %}

                <div id="content">{% block content %}{% endblock %}</div>

            </div>
            <div class="container footer navbar-fixed-bottom">
              <footer>
                {% block footer %}
                ESTIAM - <script>document.write(new Date().getFullYear())</script>
                {% endblock %}
              </footer>
            </div>
    </body>
{% block scripts %}{% endblock %}
</html>
