<div id="header" style="margin-bottom=1em;">
    {% if request.path != url_for('home') %}
    <div style="float: left;"><span><a href="/" role="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Home</a></span></div>
    {% endif %}
    <div style="float: right;">
        {% if current_user.is_authenticated %}
        Logged as {{ current_user.username }} <span><a href="{{ url_for('security.logout') }}" role="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-log-out"></span>Logout</a></span>
        {% else %}
        <span><a href="{{ url_for('security.login') }}" role="button" class="btn btn-outline-info"><span class="glyphicon glyphicon-log-in"></span>Login</a> |
            <a href="{{ url_for('security.register')}}" role="button" class="btn btn-outline-info"><span class="glyphicon glyphicon-list-alt"></span>Register</a></span>
        {% endif %}
    </div>
    <div style="clear: both"></div>
</div>
