{% extends "base.html" %}

{% block content %}
<section id="home">
    <div id="title" style="color: #ff4411; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px; text-align: center;">ESTIAM Data Science Challenge 2018</div>
    <div id="images" style="text-align: center;"><img src="/static/images/LogoBAD.png" class="circle-img img-circle" alt="Bob"></div>
    {% if current_user.is_authenticated %}
    <br/><br/>
    <div style="text-align: center;">
        {% if current_user.has_role('admin') %}
        <a href="/scores" role="button" class="btn btn-outline-primary">
          <span class="far fa-chart-bar" aria-hidden="true"></span> Scores
        </a>
        <a href="/admin" role="button" class="btn btn-outline-danger">
          <span class="fas fa-user-secret" aria-hidden="true"></span> Admin
        </a>
        <!-- <a href="/scores">Scores</a> | <a href="/admin">Admin</a> -->
        {% else %}
        <a href="/submission" role="button" class="btn btn-outline-primary">
          <span class="fas fa-chart-line" aria-hidden="true"></span> Submit predictions
        </a>
        <a href="/scores" role="button" class="btn btn-outline-danger">
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Scores
        </a>
        <!-- <a href="/submission">Submit predictions</a> | <a href="/scores">Scores</a> -->
        {% endif %}
    </div>
    {% endif %}


</section>
{% endblock %}
